{% if list_of_users.count > 0 %}

{% for user in list_of_users %}
    <li><a href='{{ user.get_absolute_url }}'>{{ user.name }} {{ user.surname }}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %}
