{% extends "base.html" %}
{% load static %}
{% block content %}

  <h2>Profile</h2>

  {% for field in form %}
    {{field.error}}

  {% endfor %}
<table>
  <form action="/user/profile/" method="post" enctype="multipart/form-data">{% csrf_token %}
      <tr>
        <th><label for="username">Avatar:</label></th>
<!--        <th>{{ form.avatar }}</th> -->
        <th><img src="{% static "images/anonymous.jpg" %}" width="100"/></th>
      </tr>
      <tr>
        <th><label for="name">Name:</label></th>
        <th>{{ form.name }}</th>
        <th>
            {% if form.avatar %}
<!--            <p><img src="static/images/{{ form.avatar }}" /></p> -->
            {% endif %}
        </th>
      </tr>
      <tr>
        <th colspan="2" class="messages">{{ form.name.errors }}</th>
      </tr>
      <tr>
        <th><label for="surname">Surname:</label></th>
        <th>{{ form.surname }}</th>
      </tr>
      <tr>
        <th colspan="2" class="messages">{{ form.surname.errors }}</th>
      </tr>
      <tr>
        <th><label for="birth_date" id="datepicker">Birth Date:</label></th>
        <th>{{ form.birth_date }}</th>
      </tr>
      <tr>
        <th colspan="2" class="messages">{{ form.birth_date.errors }}</th>
      </tr>
      <tr>
        <th colspan="2" class="message">format YYYY-MM-DD</th>
      </tr>
      <tr>
        <th><label for="sex">Sex:</label></th>
        <th>{{ form.sex }}</th>
      </tr>
      <tr>
        <th><label for="deskribe">Describe:</label></th>
        <th>{{ form.deskribe }}</th>
      </tr>
      <tr>
        <th colspan="2" class="messages">{{ form.deskribe.errors }}</th>
      </tr>
      <tr>
        <th colspan="2"><input type="submit" value="Update" /></th>

      </tr>

  </form>
</table>
{% endblock %}
