{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Profil użytkownika {{ object.name }}</h2>

<form action="/user/profile/{{ object.pk }}/add" method="post">{% csrf_token %}
  <input type="submit" value="Dodaj do znajomych" />
</form>
</br>
</br>
<table border="0" cellpadding="10">
  <tr>
    <td rowspan="5"><img src="{% static "images/anonymous.jpg" %}" /></td>
    <td align="left">imię: </td>
    <td align="left">{{ object.name }}</td>
  </tr>
  <tr>
    <td align="left">nazwisko: </td>
    <td align="left">{{ object.surname }}</td>
  </tr>
  <tr>
    <td align="left">birth date: </td>
    <td align="left">{{ object.birth_date }}</td>
  </tr>
  <tr>
    <td align="left">sex: </td>
    <td align="left">
    {% if object.sex == 0 %}
    Mężczyzna
    {% else %}
    Kobieta
    {% endif %}
  </td>
  </tr>
  <tr>
    <td align="left">deskribe: </td>
    <td align="left">{{ object.deskribe }}</td>
  </tr>
</table>

{% if object in request.user.friends.all %}
brawo jesteście znajomymi
{% else %}

{% endif %}
{% endblock %}
