{% if event_list.count > 0 %}

<table border="1">
    {% for event in event_list %}
    <tr>
      <td><a href="/user/event/{{ event.id }}">{{ event.eventname }}</a></td>
      <td>{{ event.event_time }}</td>
      <td>{{ event.eventabout }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}

<li>None to show!</li>

{% endif %}
