{% extends "base.html" %}

{% block content %}

<h2>Organizer</h2>

<a href="/user/event/">Dodaj nowe wydarzenie</a>
</br></br>
<label for="username">Sprawdź co masz zaplanowane na dzień:</label>
<input type="date" id="search_date" name="search_date" />
</br></br>
<ul id="search-results">


{% endblock %}
