{% extends "base.html" %}

{% block content %}

  <h2>Organizer</h2>

  {% for field in form %}
    {{field.error}}

  {% endfor %}

  <form action="." method="post">{% csrf_token %}
  {{form.as_ul}}

  <input type="submit" value="Dodaj" />

  </form>

{% endblock %}
