body {
	text-align: center;
	font-family: sans-serif;
}

#page {
	padding-left: 100px;
	padding-right: 100px;
	width: auto;
	text-align: left;
	background-color: white;
}

#logo {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background-color: white;
	border: 0px solid #000;
}

#sidebar {
	float: left;
	width: 15%;
	border: 0px solid #000;
}

#content {
	text-align: center;
	float: left;
	width: 64%;
	border: 0px solid #f00;

}

#friendsbar {
	float: left;
	width: 20%;
	border: 0px solid #000;
}

label, input {
	float: left;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	width: 100%;
}

.messages {
	color: red;
	size: 2;
}

.errorlist {
	color: red;
	size: 2;
}
