body {
	text-align: center;
	font-family: sans-serif;
}

#page {
	padding-left: 100px;
	padding-right: 100px;
	width: auto;
	text-align: left;
	background-color: white;
}

#logo {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background-color: white;
	border: 0px solid #000;
}

#loginbar {
	float: left;
	text-align: center;
	width: 38%;
	border: 0px solid #000;
	padding: top;
}

#adblock {
	text-align: center;
	float: right;
	width: 60%;
	height: auto;
	border: 0px solid #000;
	padding-top: 10;
}


label, input {
	float: left;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	width: 100%;
}

.helptext {
	float: left;
	width: 100%;
}

.messages {
	color: red;
	size: 2;
}
