body {
	text-align: center;
	font-family: sans-serif;
}

#page {
	width: 960px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: #0c0c0c;
}

#logo {
	text-align: center;
	background-color: white;
	border: 1px solid #000;
}

#sidebar {
	float: left;
	width: 200px;
	border: 1px solid #000;
}

#content {
	float: left;
	width: 530px;
	border: 1px solid #f00;
	padding: 10px;
	line-height: 36px;
}

#friendsbar {
	float: right;
	width: 200px;
	border: 1px solid #000;
}

label, input {
	float: left;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	width: 100%;
}

.helptext {
	float: left;
	width: 100%;
}

.clearfix {
	clear: both;
}

.messages {
	color: red;
	size: 2;
}

.success {
	background-color: #008800;
	border-color: #005500;
	padding-left: 1em;
}

.deleted {
	background-color: #880000;
	border-color: #550000;
	padding-left: 1em;
}
