{% extends "base.html" %}

{% block content %}
  <h2>Chat</h2>
Wybierz interesujący Cię temat rozmów

{% if chat_list %}
    <ul>
    {% for chat in chat_list %}
        <li><a href={% url 'chat_room' chat.id %}>{{ chat.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No chats are available.</p>
{% endif %}

{% endblock %}
