{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Base Template{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/mainpage.css" >

    <script src="{% get_static_prefix %}js/jquery-3.1.1.js"></script>
    <script src="{% get_static_prefix %}js/ajax.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#id_birth_date').datepicker({
          dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true,
          showButtonPanel: true,
          yearRange: "-80:+0",
        });
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#id_event_date').datepicker({
          dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true,
          showButtonPanel: true,
          yearRange: "-0:+20",
        });
    });
    </script>
    <script>
    $(document).ready(function(){
        $('#search_date').datepicker({

            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: "-0:+20",

        });
        var currentdate = new Date();
        $("#search_date").val($.datepicker.formatDate('yy-mm-dd', currentdate));
        ajax_for_events();


    });
    </script>
    <script>
    $(document).ready(function() {
          $('#id_event_time').timepicker({
              timeFormat: 'HH:mm',
              interval: 60,
              minTime: '1',
              maxHour: '24',
              defaultTime: '6',
              startTime: '1:00',
              dynamic: false,
              dropdown: true,
              scrollbar: true
          });
    });
    </script>


</head>

<body>
	<div id="page">

    <div id="logo">
      <img src="{% static "images/logo2.png" %}" width="200"/>
    </div>

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/accounts/loggedin/">Strona główna</a></li>
            <li><a href="/user/event/list">Organizer</a></li>
            <li><a href="/user/profile">Proffile</a></li>
            <li><a href="/chats/">Messages</a></li>
            <li><a href="/friends/">Friends</a></li>
            <li><a href="/accounts/logout/">Log Out</a></li>

        </ul>
        {% endblock %}
    </div>

    <div id="content">

        {% block content %}This is the content area{% endblock %}

    </div>

    <div id="friendsbar">
      {% block friendsbar %}Hi {{request.user.username}}{% endblock %}
    </div>

	</div>

</body>
</html>
