{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Organizer Site{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/loginpage.css" >

    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    <script src="{% get_static_prefix %}js/ajax.js"></script>

</head>

<body>
	<div id="page">
  <div id="logo">
    <img src="{% static "images/logo2.png" %}" width="200"/>
  </div>
    <div id="loginbar">

        {% block content %}This is the content area{% endblock %}

    </div>

    <div id="adblock">{% block ad %}
    Organizer Społecznościowy łączy w sobie funkcjonalność organizera i zalety portalu społecznościowego</br>
    <img src="{% static "images/baner.png" %}" width="500"/>
{% endblock %}
	</div>

</body>
</html>
