{% extends "basestart.html" %}

{% block content %}

<title>{% block title %}Login{% endblock %}</title>

<table>
  <form action="/accounts/auth/" method="post">
    {% csrf_token %}
    <tr>
      <th><label for="username">User name:</label></th>
      <th><input type="text" name="username" value="" id="username"></th>
    </tr>
    <tr>
      <th><label for="password">Password:</label></th>
      <th><input type="password" name="password" value="" id="password"></th>
    <tr>
      <th></th>
      <th><input type="submit" value="login" /></th>
    </tr>
  </tr>
    <tr>
      <th colspan="2" height="20">
        {% if errors %}
          <font class="messages">Sorry, that's not a valid username or password</font>
        {% endif %}
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <a href="/accounts/register/">Nie masz konta? Zarejestruj się.</a>
      </th>
    </tr>
  </form>
</table>
{% endblock %}
