{% extends "basestart.html" %}

{% block content %}

  <h2>Register</h2>

  {% for field in form %}
    {{ field.error }}
  {% endfor %}

  <form action="/accounts/register/" method="post">
    {% csrf_token %}
<table>
  <tr>
    <th><label for="username">User name:</label></th>
    <th>{{ form.username }}</th>
  </tr>
  <tr>
    <th class="messages" colspan="2">{{ form.username.errors }}<th>
  </tr>
  <tr>
    <th><label for="email">email:</label></th>
    <th>{{ form.email }}</th>
  </tr>
  <tr>
    <th><label for="password1">Password:</label></th>
    <th>{{ form.password1 }}</th>
  </tr>
  <tr>
    <th><label for="password2">Confirm Password:</label></th>
    <th>{{ form.password2 }}</th>
  </tr>
  <tr>
    <th class="messages" colspan="2">{{ form.password2.errors }}<th>
  </tr>
  <tr>
    <th></th>
    <th><input type="submit" value="Register" /></th>
  </tr>
  <tr>
    <th colspan="2">
      <a href="/accounts/login/">Masz już konto? Zaloguj się.</a>
    </th>
  </tr>
</table>

  </form>

{% endblock %}
