{% extends "base.html" %}

{% block content %}

  <h2>Hi {{request.user.username}} you are now logged in!</h2>
  <p>Click <a href="/accounts/logout/">here</a> to logout.</p>

  <p>Click <a href="/user/profile/">here</a> to edit your profile information</p>

{% endblock %}
